<!DOCTYPE html>
<html lang="en">
    
<head>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
    </style>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>URL Shortener </title>
</head>

<body>
    <h1>URL Shortner</h1>
    <% if (locals.urlid) { %>
     <p>URL Generated: http://localhost:8001/url/<%= urlid %></p>
    <% } 
    
    %>

    <div>
        <form method="POST" action="/url">
            <label>Enter your original URL </label>
            <input type="text"
            name ="redirectURL"
            placeholder="http://example.com/" />
            <button type="submit"> Generate</button>
        </form>
    </div>
</body>

</html>